.audienceBunner {
    padding: 293px 0 220px 0;
    background: url(../img/box-shadow.png),url(../img/audienceBunner.png),url(../img/audenceBaner.png),#181717;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, 0 180px, center;
    &::after {
        content: none !important;
    }
    .wrapperContainer {
        h1 {
            font-size: 46px;
            line-height: 56px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        p {
            font-family: "Inter-Medium";
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            width: 35%;
        }
    }
}
.nextLevelBtn {
    font-family: "Inter-ExtraBold";
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 16px 46px;
    background: #1C50FE;
    border-radius: 12px;
    margin: 100px auto 0 auto;
    border: none;
}
.nextLevel {
    margin: 75px 0 120px 0;
    .wrapperContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-family: "Inter-ExtraBold";
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 86px;
        }
    }
}
.nextLevelContainer {
    display: flex;
    align-items: center;
    position: relative;
}
.nextLevelContainerSection {
    margin-bottom: 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 0px 26px;
    width: 240px;
    height: 120px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    h3 {
        font-family: "Inter-ExtraBold";
        font-size: 20px;
        line-height: 24px;
        color: #1C50FE;
    }
    p {
        font-family: "Inter-Medium";
        font-size: 15px;
        line-height: 18px;
        color: #181717;
    }
}
.nextLevelContainerLeft {
    .nextLevelContainerSection {
        &:nth-of-type(1) {
            transform: rotate(9.37deg);
            margin-left: 20px;
        }
        &:nth-of-type(2) {
            background: #DFE6FF;
        }
        &:nth-of-type(3) {
            transform: rotate(-9.37deg);
            margin-left: 20px;
        }
    }
}
.nextLevelContainerRight {
    .nextLevelContainerSection {
        &:nth-of-type(1) {
            transform: rotate(-11.63deg);
            margin-left: -20px;
        }
        &:nth-of-type(2) {
            background: #DFE6FF;
        }
        &:nth-of-type(3) {
            transform: rotate(11.63deg);
            margin-left: -20px;
        }
    }
}
.opacity {
    width: 450px;
    height: 100%;
}
.nextLevelContainerCenter {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: 100%;
    img {
        max-width: 100%;
        border-radius: 20px;
        min-height: 100%;
    }
}
.creators {
    padding: 76px 0 92px 0;
    background: #181717;
    border-radius: 20px;
    position: relative;
    &::after {
        content: "";
        background: url(../img/all.png), url(../img/audence.png);
        background-size: contain, cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .wrapperContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-family: "Inter-ExtraBold";
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 43px;
            position: relative;
            z-index: 1;
        }
        p {
            font-family: "Inter-Regular";
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            width: 50%;
            position: relative;
            z-index: 1;
            text-align: center;
        }
    }
}
.audienceCurses {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    .yourGameContainer {
        .designBestRight {
            width: 33% !important;
            margin-right: 100px;
            margin-top: 80px;
            h2 {
                margin-bottom: 30px;
            }
            > p {
                font-family: "Inter-Medium";
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #181717;
                margin-bottom: 30px;
            }
            .designBestList {
                li {
                    margin-bottom: 38px;
                    &::before {
                        min-width: 24px;
                        min-height: 24px;
                    }
                }
            }
        }
        .audienceCursesRight {
            width: 60%;
            margin-bottom: -37px;
            img {
                max-width: 100%;
            }
        }
    }
}
.healthFitness {
    padding-top: 5px;
    padding-bottom: 0;
    background: #181717;
    border-radius: 20px;
    .yourGameContainer {
        padding-left: 30px;
        padding-right: 62px;
        .audienceCursesRight {
            margin-right: 60px;
            width: 50%;
            background: url(../img/EllipseGerl.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 621px;
            img {
                position: absolute;
                bottom: 0;
                height: 105%;
            }
        }
        .designBestRight {
            margin-right: 0;
            h2 {
                color: #fff;
            }
            p {
                color: #fff;
            }
            .designBestList {
                li {
                   color: #fff;
                   &::before {
                    filter: brightness(0) invert(1);
                   }
                }
            }
        }
    }
}
.audienceCurses2 {
    .yourGameContainer {
        .audienceCursesRight {
            width: 50%;
            height: 570px;
            position: relative;
            img {
                position: absolute;
                right: 100px;
                top: -50px;
            }
            &::after {
                content: "";
                background: url(../img/manFrame.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                top: -10%;
                right: -15px;
                width: 100%;
                height: 100%;
            }
        }
        .designBestRight {
            width: 40% !important;
        }
    }
}
.yourGameBtn {
    margin-top: 15px !important;
    background: #1C50FE !important;
    padding: 16px 46px !important;
    margin-left: 0;
}
.audienceCurses .yourGameContainer .designBestRight {
    padding-bottom: 100px;
}
@media (max-width: 768px) {
    .audienceBunner {
        background: url(../img/Audiencemobile.png),#181717;
        background-repeat: no-repeat !important;
        background-position: right;
        background-size: cover;
        &::after {
            content: "" !important;
            background: url(../img/Audiencemobile2.png);
            background-repeat: no-repeat !important;
            background-position: center;
            background-size: contain;
            width: 100%;
            height: 100%;
        }
    }
    .audienceBunner .wrapperContainer h1 {
        width: 75%;
        font-size: 55px;
    }
    .audienceBunner .wrapperContainer p {
        width: 55%;
        font-family: "Inter-Regular";
    }
    .nextLevel .wrapperContainer h2 {
        font-size: 45px;
        line-height: 60px;
    }
    .nextLevelContainerSection {
        transform: none !important;
        height: 100%;
    }
    .nextLevelContainerCenter {
        position: static;
        transform: none;
        left: 0;
        top: 0;
        width: 100%;
        img {
            min-width: 100%;
        }
    }
    .nextLevelContainerLeft {
        width: 90%;
        .nextLevelContainerSection {
            margin-left: 0 !important;
            margin-right: 0 !important;
            width: 100%;
        }
    }
    .nextLevelContainerSection {
        padding: 7px !important;
        min-height: 135px;
        padding-left: 15px !important;
    }
    .nextLevelContainerSection h3 {
        font-size: 27px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .nextLevelContainerSection p {
        font-size: 20px;
        line-height: 25px;
        font-family: "Inter-Regular";
    }
    .nextLevelContainerRight {
        width: 90%;
        margin-left: auto;
        .nextLevelContainerSection {
            margin-left: 0 !important;
            margin-right: 0 !important;
            width: 100%;
        }
    }
    .opacity {
        display: none;
    }
    .nextLevelContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
    }
    .nextLevelContainerCenter { grid-area: 1 / 1 / 2 / 3; }
    .nextLevelContainerLeft { grid-area: 2 / 1 / 3 / 2; }
    .nextLevelContainerRight { grid-area: 2 / 2 / 3 / 3; }
    .nextLevelBtn {
        margin-top: 0;
    }
    .creators .wrapperContainer h2 {
        font-size: 45px;
        line-height: 60px;
    }
    .creators .wrapperContainer p {
        font-size: 20px;
        line-height: 25px;
        width: 73%;
    }
    .yourGameContainer {
        flex-direction: column;
    }
    .yourGame .yourGameContainer {
        padding-left: 0;
        width: 100%;
    }
    .audienceCurses .yourGameContainer .designBestRight {
        width: 80% !important;
        margin: 50px auto;
        align-items: center;
    }
    .audienceCurses .yourGameContainer .designBestRight h2 {
        font-size: 45px;
        line-height: 60px;
    }
    .audienceCurses .yourGameContainer .designBestRight > p {
        font-size: 20px;
        line-height: 25px;
        width: 64%;
    }
    .audienceCurses .yourGameContainer .designBestRight .designBestList li {
        font-size: 20px;
        line-height: 25px;
    }
    .audienceCurses .yourGameContainer .designBestRight .designBestList li::before {
        min-width: 40px;
        min-height: 40px;
    }
    .audienceCurses .yourGameContainer .audienceCursesRight {
        margin-bottom: 0;
        width: 100%;
    }
    .audienceCurses .yourGameContainer .audienceCursesRight img {
        min-width: 100%;
    }
    .yourGameBtn {
        margin: 100px auto 0 auto;
    }
    .audienceCurses .yourGameContainer .designBestRight {
        padding-bottom: 0;
    }
    .healthFitness .yourGameContainer .audienceCursesRight img {
        position: static;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .yourGameContainer {
        flex-direction: column-reverse;
    }
    .audienceCurses .yourGameContainer .designBestRight h2 {
        font-size: 45px;
        line-height: 60px;
    }
    .audienceCurses .yourGameContainer .designBestRight > p {
        text-align: center;
        font-size: 20px;
        line-height: 25px;
    }
    .audienceCurses .yourGameContainer .designBestRight .designBestList li {
        font-size: 20px !important;
        line-height: 25px !important;
    }

    .audienceCurses .yourGameContainer .designBestRight {
        width: 100% !important;
    }
    .audienceCurses .yourGameContainer .designBestRight h2 {
        font-size: 45px;
        line-height: 60px;
    }
    .audienceCurses .yourGameContainer .designBestRight > p {
        text-align: center;
        font-size: 20px;
        line-height: 25px;
    }
    .audienceCurses .yourGameContainer .designBestRight .designBestList li {
        font-size: 20px !important;
        line-height: 25px !important;
    }
    .audienceCurses .yourGameContainer .audienceCursesRight img {
        min-width: auto;
    }
    .audienceCurses2 .yourGameContainer .audienceCursesRight img {
        top: 39px;
    }
    .healthFitness .yourGameContainer .audienceCursesRight {
        margin-right: 0;
        background-size: cover;
    }
    .yourGame.audienceCurses.audienceCurses2 {
        .yourGameContainer {
            flex-direction: column;
        }
    }
    .audienceCurses2 .yourGameContainer .audienceCursesRight::after {
        background: url(../../img/audenceFrame.png);
        background-repeat: no-repeat !important;
        right: 0;
        width: 315px;
        min-width: 630px;
        background-size: contain;
        top: 187px;
    }
    .healthFitness .yourGameContainer {
        padding-right: 0;
    }
    .whoUsing  {
        padding: 135px 16px;
    }
    .whoUsing .wrapperContainer .tittleWhite {
        font-size: 45px;
        line-height: 60px;
    }
    .whoUsing .whoUsingContainer .whoUsingSection img {
        margin-bottom: 50px;
    }
    .whoUsing .whoUsingContainer .whoUsingSection .whoUsingSectionText h5 {
        font-size: 30px;
        line-height: 30px;
        text-align: left;
        width: 100%;
        margin-bottom: 15px;
    }
    .whoUsingSectionText {
        text-align: left !important;
    }
    .whoUsing .whoUsingContainer .whoUsingSection .whoUsingSectionText p {
        text-align: left;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 50px;
    }
    .audienceCurses {
        .yourGameContainer {
            flex-direction: column;
        }
    }
    .healthFitness {
        .yourGameContainer {
            flex-direction: column-reverse;
        }
    }
    .audienceCurses .yourGameContainer .audienceCursesRight {
        display: flex;
        justify-content: flex-end;
    }
}