.coursesBunner {
    padding: 291px 0 220px 0 !important;
    background: url(../img/box-shadow.png),url(../img/coursesBunner.png), #181717 !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: 0 bottom, center !important;
    border-radius: 0 0 20px 20px;
    position: relative;
    &::after {
        content: "";
        background: url(../img/coursesFrame.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 0 0 20px 20px;
        top: 0;
        left: 0;
    }
    .wrapperContainer {
        display: flex;
        flex-direction: column;
        h1 {
            font-family: "Inter-ExtraBold";
            font-size: 46px;
            line-height: 56px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 49px;
            width: 60%;
        }
        p {
            font-family: "Inter-Medium";
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
            width: 40%;
        }
    }
}
.designBest {
    .nextLevelBtn.nextLevelBtnFlex {
        bottom: 85px;
    }
}
.flexCo {
    position: relative;
    padding-bottom: 200px !important;
    .nextLevelBtnFlex {
        bottom: 55px;
    }
}
.flexCo{
    .nextLevelBtnFlex {
        background: #181717;
        transition: all .3ms;
        &:hover {
            background: white;
            transition: all .3ms;
            color: black;
            box-shadow: none;
        }
    }
}
.monetizeWisely  {
    margin-top: 120px;
    padding-bottom: 35px !important;
    position: relative;
    .nextLevelBtnFlex {
        bottom: 35px;
        left: 195px;
    }
    .paymentRight {
        width: 50%;
        margin-left: 0;
    }
}
.designBest {
    padding: 69px 0 200px 0;
    position: relative;
    
    .wrapperContainer {
        display: flex;
        align-items: center;
        .designBestLeft {
            display: flex;
            width: 574px;
            height: 337px;
            margin-right: 74px;
            border-radius: 20px;
            position: relative;
            border: 5px solid #D9D9D9;
            background: #fff;
            img {
                min-width: 100%;
                min-height: 100%;
                border-radius: 20px;
                object-fit: contain;
            }
            &:after  {
                content: "";
                position: absolute;
                width: 605px;
                height: 11px;
                display: flex;
                bottom: -7px;
                left: -35px;
                right: 15px;
                background: #D9D9D9;
                border-radius: 20px;
            }
        }
    }
    &::after {
        content: "";
        background: url(../img/designBestFrame.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
.designBestRight {
    display: flex;
    flex-direction: column;
    h2 {
        font-family: "Inter-ExtraBold";
        font-size: 32px;
        line-height: 39px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 50px;
    }
}
.designBestList {
    li {
        font-family: "Inter-Medium";
        display: flex;
        align-items: center;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 27px;
        color: #181717;
       &::before {
        content: "";
        background: url(../img/designBestList.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        display: flex;
        margin-right: 16px;
       }
    }
}
.itHappen {
    margin: 74px 0;
    .wrapperContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 82px;
        p:nth-of-type(2) {
            font-family: "Inter-Medium";
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: #181717;
            margin-bottom: 9px;
        }
        h2 {
            font-family: "Inter-ExtraBold";
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            text-transform: uppercase;
            color: #181717;
            margin-bottom: 28px;
        }
        > p {
            font-family: "Inter-Regular";
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #181717;
            margin-bottom: 52px;
            width: 45%;
        }
    }
}
.itHappenContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    .itHappenSection {
        width: 25%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        p {
            font-family: "Inter-Medium";
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: #181717;
        }
        svg {
            height: 100px;
            path {
                stroke: #1C50FE !important;
            }
            circle {
                stroke: #1C50FE !important;
            }
        }
    }
}
.onlineCourse {
    padding: 68px 0; 
    box-sizing: border-box;
    background: #181717;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .wrapperContainer {
      display: flex;
      flex-direction: column;
    }
    &::after {
      content: "";
      background: url(../img/CoursesFrame2.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top:65%;
      transform: translateY(-50%);
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
}
.onlineCourseContainer {
    position: relative;
    z-index: 2;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-family: "Inter-ExtraBold";
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 60%;
        text-align: center;
        margin-bottom: 30px;
    }
    p {
        margin-top: 33px;
        font-family: "Inter-Regular";
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        width: 70%;
    }
    &::after {
        content: "";
        background: url(../img/CoursesFrame3.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        width: 684px;
        height: 684px;
        z-index: -1;
    }
}
.monetizeWisely {
    margin: 75px 0;
    justify-content: space-between;
    .paymentRight {
        background: transparent;
        img {
            max-width: 100%;
        }
        &::after {
            content: none;
        }
    }
    .paymentLeft {
        width: 350px;
    }
}

@media (max-width: 768px) {
.designBest {
    .wrapperContainer {
        flex-direction: column;
    }
}
.designBestLeft {
    margin-bottom: 20px;
}
.designBestRight {
    h2 {
        text-align: center;
    }
}
.designBest .wrapperContainer .designBestLeft:after {
    left: -17px;
}
.onlineCourseContainer h2 {
    width: 100% !important;
}
.monetizeWisely .paymentLeft {
    width: 300px !important;
}
.monetizeWisely .paymentRight {
    width: 375px !important;
}
.coursesBunner .wrapperContainer h1 {
    width: 100% !important;
}
.designBest::after {
    top: -100px !important;
}
.coursesBunner::after {
    background-size: contain !important;
}
.designBest .wrapperContainer .designBestLeft {
    margin-right: 0 !important;
}
.onlineCourseContainer p {
    width: 100% !important;
}
.coursesBunner .wrapperContainer p {
    width: 65%;
    font-size: 23px;
    line-height: 32px;
}
.coursesBunner .wrapperContainer h1 {
    width: 80% !important;
    font-size: 55px !important;
}
.designBestList li {
    font-size: 23px !important;
    line-height: 32px !important;
}
.designBestList li::before{
    width: 34px;
    height: 34px;
}
.whoUsing .whoUsingContainer .whoUsingSection .whoUsingSectionText p {
    font-size: 23px !important;
    line-height: 32px !important;
}
.itHappen .wrapperContainer > p {
    width: 100% !important;
    font-size: 23px !important;
    line-height: 32px !important;
}
.onlineCourseContainer p {
    font-size: 23px !important;
    line-height: 32px !important;
}
.itHappenContainer .itHappenSection {
    width: 32% !important;
}
.itHappenContainer .itHappenSection p {
    font-size: 23px !important;
    line-height: 32px !important;  
}
.monetizeWisely {
    flex-direction: column;
    padding-left: 0 !important;
    .paymentLeft {
        width:90% !important;
        text-align: center;
        overflow: hidden;
        p {
            font-size: 23px !important;
            line-height: 32px !important;
        }
        h3 {
            font-size: 28px !important;
            line-height: 40px !important;
        }
    }
    .paymentRight {
        width: 100% !important;
    }
    .paymentLeft h2 {
        font-size: 40px;
        line-height: 45px;
    }
}
 .monetizeWisely .paymentRight {
    width: auto !important;
}
.monetizeWisely .paymentRight img {
    object-fit: contain !important;
}
.bunnerPosition {
    width: 90% !important;
}
.containerDesctop {
    margin-bottom: 20px;
}
.featureHomePageContainer .featureHomePageSection .top {
    bottom: 0 !important;
    top: auto !important;
}
.itHappenContainer {
    justify-content: flex-start !important;
}
.monetizeWisely .paymentRight {
    min-width: 90%;
    max-width: 90%;
}
.monetizeWisely .paymentRight img {
    min-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    object-position: top !important;
    border-radius: 20px !important;
}
.designBest::after {
    content: none;
}
.coursesBunner {
    background: url(../img/box-shadow.png),url(../img/coursesBunner.png), #181717 !important;
    background-position: 0 bottom !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    padding: 420px 0 200px 0 !important;
    border-radius: 0 0 20px 20px;
}
.coursesBunner .wrapperContainer h1 {
    width: 75% !important;
    font-size: 55px !important;
}
.designBest {
    background: url(../../img/Frame10.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 200px;
    padding-bottom: 150px;
    .designBestRight {
        .paymentFlex {
            top: 50px;
        }
    }
    .designBestList {
            width: 80%;
            margin: 0 auto;
        
    }
    .designBestList li {
        font-size: 20px;
        line-height: 20px;
    }
    .designBestList li::before {
        min-width: 40px;
        min-height: 40px;
    }
}
.onlineCourseContainer {
    h2 {
        font-size: 45px;
        line-height: 60px;  
    }
}
.onlineCourseContainer {
    width: 90%;
}
.monetizeWisely {
    flex-direction: column-reverse;
}
.monetizeWisely {
    padding-top: 100px;
    position: relative;
}
.monetizeWisely .paymentLeft h3 {
    font-size: 27px !important;
    line-height: 30px !important;
}
.monetizeWisely .paymentLeft p {
    font-size: 20px !important;
    line-height: 25px !important;
    font-family: "Inter-Regular" !important;
}
.monetizeWisely .paymentRight {
    margin-left: 0;
}
.flexCo {
    position: relative;
}
.monetizeWisely .paymentRight img {
    margin-bottom: 50px;
}
.monetizeWisely {
    padding-bottom: 155px !important;
    margin-bottom: 0;
    .paymentLeftContainer {
        text-align: left;
    }
    .nextLevelBtn.nextLevelBtnFlex {
        left: 50% !important;
    }
}
.itHappen .wrapperContainer h2 {
    font-size: 45px;
    line-height: 60px;
}
.itHappen .wrapperContainer p {
    font-size: 20px;
    line-height: 25px;
    font-family: "Inter-Regular";
}
.itHappenContainer .itHappenSection {
    width: 25% !important;
}
}