.businessBox {
    padding-right: 0;
    .wrapperContainer {
        display: flex;
        .bunnerRightContainer {
            .containerDesctop {
                height: 313px;
                position: relative;
                p {
                    display: none;
                }
                img {
                    border: 5px solid #D9D9D9;
                    border-radius: 20px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 66px;
                    height: 14px;
                    background: #D9D9D9;
                    border-radius: 2px;
                }
            }
            .containerMobile {
                bottom: 0vh;
                right: -6%;
               
                p {
                    display: none;
                }
                img {
                    border: 5px solid #D9D9D9;
                    border-radius: 10px;
                    position: relative;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 38px;
                    height: 8px;
                    background: #D9D9D9;
                    border-radius: 2px;
                }
            }
        }
    }
}
.featureHomePage {
    padding: 82px 0;
    background: linear-gradient(0deg, #181717, #181717);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    .wrapperContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        max-width: 900px;
        z-index: 1;
        &::after {
            content: "";
            background: url(../img/Frame6.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0;
            left: -268px;
            width: 150%;
            height: 100%;
            z-index: 1; 
        }
        h2 {
            font-family: "Inter-ExtraBold";
            font-size: 32px;
            line-height: 39px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 50px;
        }
    }
    &::after {
        content: "";
        background: url(../img/mask.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        z-index: 0;
      }
}
.featureHomePageContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 100%;
    position: relative;
    z-index: 2;
    .featureHomePageSection {
        width: 275px;
        height: 514px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: #DFE6FF;
        box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.1);
        border-radius: 24px;
        position: relative;
        &:nth-of-type(2) {
            justify-content: flex-start;
            .top {
                background: #FFFFFF;
                box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.1);
                border-radius: 24px;
                bottom: 0;
                top: auto;
            }
        }
        .bottom {
           img {
            max-width: 100%;
            border-radius: 24px;
           }
        }
        .top {
            min-height: 317px;
            max-height: 317px;
            background: #DFE6FF;
            box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.1);
            border-radius: 24px;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            top: 0;
            left: 0;
            padding: 0 20px 0 20px;
            z-index: 1;
            p {
                font-family: "Inter-ExtraBold";
                font-size: 20px;
                line-height: 24px;
                color: #1C50FE;
                margin-bottom: 5px;
            }
            ul {
                li {
                    font-family: "Inter-Medium";
                    font-size: 15px;
                    line-height: 18px;  
                    margin-bottom: 5px;
                    list-style: inside;
                    position: relative;
                    &:before {
                        content: "";
                        min-width: 8px;
                        min-height: 8px;
                        background: #1C50FE;
                        display: flex;
                        border-radius: 50%;
                        margin-right: 3px;
                        margin-top: 3px;
                        position: absolute;
                        left: -2px;
                        top: 2px;
                    }
                }
            }
            svg {
                position: absolute;
                right: 50px;
                top: 30px;
            }
        }
    }
}
.afterOff {
    height: 100% !important;
    &::after {
        content: none !important;
    }
}
.startedOff {
    box-shadow: none;
    .startedLeft {
        padding-top: 163px;
        padding-bottom: 140px;
    }
    .startedRight {
        right: 11% !important;
        left: auto !important;
    }
}
.startedOff {
    .startedLeft {
        .designBestRight {
            .designBestList {
                width: 85%;
                li {
                    b {
                        font-family: "Inter-ExtraBold";
                        display: contents;
                    }
                    &::before {
                        min-width: 24px;
                    }
                }
            
            }
        }
    }
}
@media (max-width: 768px) {
.businessBox {
    margin-top: 100px;
    .wrapperContainer {
        min-width: 90%;
        flex-direction: column;
        .bunnerRightContainer {
            margin: 0 auto;
        }
        .customizationRight {
            width: 100%;
            margin-top: 50px;
        }
    }
}
.featureHomePageContainer {
    padding-left: 16px;
    padding-right: 16px;
    min-width: 90%;
    .featureHomePageSection {
        width: 32%;
    }
}
.homeCustomization {
    margin-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
    .customizationLeft {
       width: 100%;
       min-width: 100%;
       max-width: 100%;
       margin-bottom: 30px;
    }
    .customizationRight {
        width: 80%;
        text-align: center;
        .customizationRightSection {
            width: 100%;
        }
    }
} 
.startedOff {
    .startedLeft {
        .designBestRight {
            h2 {
                text-align: left !important;
            }
        }
    }
}
.bunnerBuilder .wrapperContainer h1 {
    font-size: 40px;
    line-height: 45px;
    width: 100%;
}
.bunnerBuilder .wrapperContainer .bunnerPosition {
    flex-direction: column;
    bottom: - 107%;
    
}
.bunnerPositionContainer  {
    width: 100% !important;
    margin-bottom: 30px;
}
.businessBox {
    margin-top: 500px;
}
.bunnerBuilder .wrapperContainer .bunnerPosition .bunnerPositionContainer h3 {
    font-size: 28px !important;
    line-height: 40px !important;
}
.bunnerBuilder .wrapperContainer .bunnerPosition .bunnerPositionContainer p {
    font-size: 23px !important;
    line-height: 23px !important;
}
.customizationRight h2 {
    margin-bottom: 0 !important;
}
.customizationRight h3 {
    font-size: 28px !important;
    line-height: 40px !important;
}
.customizationRight h3 {
    font-size: 23px !important;
    line-height: 23px !important;
}
.featureHomePageContainer {
    flex-direction: column;
    align-items: center;
}
.featureHomePageContainer .featureHomePageSection {
    width: 50%;
    margin-bottom: 30px;
}
.featureHomePageContainer .featureHomePageSection .top p  {
    font-size: 28px !important;
    line-height: 40px !important; 
}
.featureHomePageContainer .featureHomePageSection .top ul li {
    font-size: 23px !important;
    line-height: 23px !important;
    margin-bottom: 20px;
}
.featureHomePageContainer .featureHomePageSection .top {
    min-height: 200px;
    max-height: 200px;
}
.featureHomePageContainer .featureHomePageSection .top ul li:before {
    left: -1px;
    top: 5px;
}
.featureHomePageContainer .featureHomePageSection .bottom img {
    min-width: 100%;
}
.customizationRight h2 {
    margin-bottom: 30px !important;
}
.customizationRight p{
    font-size: 23px !important;
    line-height: 23px !important;
    margin-top: 20px;
}
.businessBox .wrapperContainer .customizationRight  h2{
    margin-top: 50px;
}
.businessBox .wrapperContainer .customizationRight {
    margin-top: 0;
}
.featureHomePageContainer .featureHomePageSection {
    width: 100% !important;
}
}
