.customization {
    margin-top: 165px;
    margin-bottom: 75px;
    padding-right: 78px;
    display: flex;
    align-items: center;
    .customizationLeft {
        width: 620px;
        height: 648px;
        background: url(../img/customization.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 72px;
        &::after {
            content: "";
            display: flex;
            background: rgba(28, 80, 254, 0.5);
            border-radius: 20px;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
        img {
            position: relative;
            z-index: 2;
        }
    }
}
.customizationRight {
    display: flex;
    flex-direction: column; 
    width: 470px;
    h2 {
        font-family: "Inter-ExtraBold";
        font-size: 32px;
        line-height: 39px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 47px;
    }
}
.customizationRight {
    h3 {
        font-family: "Inter-ExtraBold";
        font-size: 20px;
        line-height: 24px;
        color: #1C50FE;
    }
    p {
        font-family: "Inter-Medium";
        font-size: 15px;
        line-height: 18px;
        color:#181717;
        margin-bottom: 30px;
        &:nth-last-child(1) {
            margin-bottom: 0;
        }
    }
}
@media (max-width: 768px)  {
.customizationLeft {
    width: 420px !important;
    height: 448px !important;
    min-width: 420px;
    min-height: 448px;
    margin-right: 20px !important;
    img {
        width: 70%;
        height: 70%;
    }
}
.customizationRight h2 {
    font-size: 30px;
    line-height: 35px;
}
.customizationRight {
    width: 300px;
}
}