.headerBuilder {
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
    width: 1050px;
    max-width: 1050px;
    min-width: 1050px;
    ul {
        display: flex;
        align-items: center;
        li {
            margin-right: 79px;
            &:nth-last-child(1) {
                margin-right: 0;
            }
            a {
                font-family: "Inter-Medium";
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
    button {
        font-family: "Inter-ExtraBold";
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        background: #1C50FE;
        border-radius: 12px;
        padding: 13px 11px;
        border: none;
    }
}