.headerArticle {
  background: transparent;
}
.headerArticle .wrapperContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 27px;
  transform: translateX(-50%);
  width: 100%;
}
.headerArticle .wrapperContainer ul {
  display: flex;
}
.headerArticle .wrapperContainer ul li {
  margin-right: 65px;
}
.headerArticle .wrapperContainer ul li:nth-last-child(1) {
  margin-right: 0;
}
.headerArticle .wrapperContainer ul li a {
  font-family: "Inter-Regular";
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}
.headerArticle .wrapperContainer button {
  font-family: "Inter-Medium";
  font-size: 20px;
  line-height: 24px;
  color: #F5F2E1;
  background: #181717;
  border-radius: 12px;
  padding: 12px;
  border: none;
}

.bunnerArticle {
  background: #1C50FE;
  padding-top: 128px;
  padding-bottom: 52px;
}
.bunnerArticle .wrapperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bunnerArticle .wrapperContainer h1 {
  font-family: "Inter-ExtraBold";
  font-size: 55px;
  line-height: 99%;
  text-align: center;
  text-transform: uppercase;
  color: #DFE6FF;
  margin-bottom: 50px;
  width: 50%;
}
.bunnerArticle .wrapperContainer .bunnerArticleBtn {
  display: flex;
  align-items: center;
}
.bunnerArticle .wrapperContainer .bunnerArticleBtn button {
  font-family: "Inter-Medium";
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 12px;
  padding: 12px 26px;
  margin-right: 18px;
  background: transparent;
}
.bunnerArticle .wrapperContainer .bunnerArticleBtn button:nth-last-child(1) {
  margin-right: 0;
}
.bunnerArticle .wrapperContainer .bunnerArticleBtn button:hover {
  background: #181717;
  border: 2px solid #181717;
}

.mainArticleTop {
  padding: 43px 0 71px 0;
}
.mainArticleTop .wrapperContainer .breadCrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 34px;
}
.mainArticleTop .wrapperContainer .breadCrumbs a {
  font-family: "Inter-Regular";
  font-size: 20px;
  line-height: 24px;
  color: #181717;
  text-decoration: none;
}
.mainArticleTop .wrapperContainer .breadCrumbs a:nth-of-type(3) {
  font-family: "Inter-Medium";
  font-size: 20px;
  line-height: 24px;
  color: #1C50FE;
  margin-left: 5px;
}
.mainArticleTop .wrapperContainer .breadCrumbs a:nth-of-type(3)::after {
  content: none;
}
.mainArticleTop .wrapperContainer .breadCrumbs a::after {
  content: ">";
  margin-left: 5px;
}

.articleFlex {
  display: flex;
  align-items: center;
  max-height: 422px;
}
.articleFlex .articleFlexLeft {
  width: 552px;
  margin-right: 24px;
}
.articleFlex .articleFlexLeft img {
  max-width: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 430px;
  border-radius: 24px;
}

.articleFlexRight {
  border: 2px solid #1C50FE;
  border-radius: 24px;
  width: 552px;
  height: 422px;
  padding: 77px 43px 77px 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.articleFlexRight p {
  font-family: "Inter-ExtraBold";
  font-size: 25px;
  line-height: 30px;
  color: #181717;
  margin-bottom: 23px;
}
.articleFlexRight ul li {
  margin-bottom: 5px;
}
.articleFlexRight ul li:nth-last-child(1) {
  margin-bottom: 0;
}
.articleFlexRight ul li a {
  font-family: "Inter-Regular";
  font-size: 20px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #1C50FE;
  display: flex;
  align-items: center;
}
.articleFlexRight ul li a:nth-of-type(1) {
  display: flex;
  align-items: flex-start !important;
}
.articleFlexRight ul li a:nth-of-type(5) {
  display: flex;
  align-items: flex-start !important;
}
.articleFlexRight ul li a::before {
  content: "";
  display: flex;
  background: #181717;
  width: 9px;
  height: 9px;
  min-width: 9px;
  min-height: 9px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}

.mainArticleInfo {
  margin-top: 22px;
  display: flex;
  align-items: center;
}
.mainArticleInfo p:nth-of-type(1) {
  font-family: "Inter-ExtraBold";
  font-size: 15px;
  line-height: 18px;
  color: #181717;
  margin-left: 10px;
  margin-right: 14px;
}
.mainArticleInfo p:nth-of-type(2) {
  font-family: "Inter-Regular";
  font-size: 15px;
  line-height: 18px;
  color: #181717;
  margin-right: 23px;
}
.mainArticleInfo p:nth-of-type(3) {
  font-family: "Inter-Regular";
  font-size: 15px;
  line-height: 18px;
  color: #181717;
}

.mainArticleCenter {
  margin-bottom: 100px;
}
.mainArticleCenter .wrapperContainer h3 {
  font-family: "Inter-ExtraBold";
  font-size: 25px;
  line-height: 30px;
  color: #181717;
  margin-bottom: 20px;
}
.mainArticleCenter .wrapperContainer p {
  font-family: "Inter-Regular";
  font-size: 20px;
  line-height: 30px;
  color: #181717;
}
.mainArticleCenter .wrapperContainer > img {
  max-width: 100%;
  margin: 65px 0;
}
.mainArticleCenter .wrapperContainer .mainArticleCenterFlex {
  display: flex;
  align-items: center;
  margin-top: 115px;
}
.mainArticleCenter .wrapperContainer .mainArticleCenterFlex img {
  width: 164px;
  height: 164px;
  margin-right: 18px;
}
.mainArticleCenter .wrapperContainer .mainArticleCenterFlex .mainContainer h3 {
  font-family: "Inter-ExtraBold";
  font-size: 20px;
  line-height: 24px;
  color: #181717;
  margin-bottom: 8px;
}
.mainArticleCenter .wrapperContainer .mainArticleCenterFlex .mainContainer p {
  font-family: "Inter-Regular";
  font-size: 20px;
  line-height: 24px;
  color: #181717;
}

.alsoLike {
  position: relative;
}
.alsoLike .wrapperContainer h2 {
  font-family: "Inter-ExtraBold";
  font-size: 55px;
  line-height: 65px;
  color: #1C50FE;
  text-align: center;
  margin-bottom: 84px;
}
.alsoLike::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 441px;
  left: 0;
  bottom: 0;
  background: #DFE6FF;
  z-index: -1;
}

.alsoLikeContainer {
  display: flex;
  align-items: flex-start;
  padding-bottom: 110px;
}
.alsoLikeContainer .alsoLikeSection {
  width: 333px;
  height: 422px;
  margin-right: 63px;
  background: #FFFFFF;
  box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
}
.alsoLikeContainer .alsoLikeSection img {
  max-width: 100%;
  border-radius: 24px;
  margin-bottom: 32px;
  min-width: 100%;
  -o-object-fit: none;
     object-fit: none;
}
.alsoLikeContainer .alsoLikeSection:nth-last-child(1) {
  margin-right: 0;
}
.alsoLikeContainer .alsoLikeSection h3 {
  font-family: "Inter-ExtraBold";
  font-size: 25px;
  line-height: 30px;
  color: #181717;
  margin-bottom: 20px;
  padding: 0 22px;
}
.alsoLikeContainer .alsoLikeSection p {
  font-family: "Inter-Regular";
  font-size: 20px;
  line-height: 30px;
  color: #181717;
  padding: 0 22px;
}/*# sourceMappingURL=index.css.map */line-height: 18px;
  text-transform: uppercase;
  color: #181717;
}

@media (max-width: 768px) {
  .letUs {
    padding: 50px;
  }
  .letUsContainer .letUsSection {
    margin-right: 20px;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
  }
  .letUsContainer .letUsSection h3 {
    font-size: 18px;
    line-height: 20px;
  }
  .letUsContainer .letUsSection p {
    font-size: 12px;
    line-height: 15px;
  }
  .letUs::after {
    width: 100%;
    height: 400px;
    top: auto;
    bottom: 0;
  }
}
.payment {
  margin-top: 150px;
  padding-left: 61px;
  margin-bottom: 73px;
  display: flex;
  align-items: center;
}
.payment .paymentRight {
  width: 479px;
  height: 487px;
  background: url(../img/paymentImg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 245px;
}
.payment .paymentRight::after {
  content: "";
  display: flex;
  background: rgba(28, 80, 254, 0.5);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.payment .paymentRight img {
  position: relative;
  z-index: 2;
}

.paymentLeft {
  display: flex;
  flex-direction: column;
  width: 450px;
}
.paymentLeft h2 {
  font-family: "Inter-ExtraBold";
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
}
.paymentLeft p {
  font-family: "Inter-Medium";
  font-size: 20px;
  line-height: 24px;
  color: #181717;
  margin-bottom: 40px;
}

.paymentLeftContainer h3 {
  font-family: "Inter-ExtraBold";
  font-size: 20px;
  line-height: 24px;
  color: #1C50FE;
}
.paymentLeftContainer p {
  font-family: "Inter-Medium";
  font-size: 15px;
  line-height: 18px;
  color: #181717;
  margin-bottom: 30px;
}
.paymentLeftContainer p:nth-last-child(1) {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .payment {
    margin-top: 50px;
    margin-bottom: 0;
  }
  .paymentRight {
    width: 300px !important;
    height: 350px !important;
    min-width: 300px;
    min-height: 350px;
    margin-left: 20px !important;
  }
  .paymentRight img {
    width: 80%;
    height: 80%;
  }
  .paymentLeft h2 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .paymentLeft p {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 18px;
  }
}
.support {
  padding: 74px 92px 74px 61px;
  margin-bottom: 100px;
}
.support h2 {
  font-family: "Inter-ExtraBold";
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #181717;
  margin-bottom: 32px;
}

.supportContainer {
  display: flex;
  position: relative;
}
.supportContainer .supportContainerLeft img,
.supportContainer .supportContainerRight img {
  max-width: 100%;
  margin-bottom: 24px;
}
.supportContainer .supportContainerLeft h3,
.supportContainer .supportContainerRight h3 {
  font-family: "Inter-ExtraBold";
  font-size: 20px;
  line-height: 24px;
  color: #1C50FE;
  padding-left: 50px;
}
.supportContainer .supportContainerLeft p,
.supportContainer .supportContainerRight p {
  font-family: "Inter-Medium";
  font-size: 15px;
  line-height: 18px;
  color: #181717;
  margin-bottom: 30px;
  padding-left: 50px;
  width: 50%;
}

.supportContainerRight {
  position: absolute;
  right: 0;
  top: 200px;
  z-index: -1;
}

@media (max-width: 768px) {
  .supportContainer .supportContainerLeft,
.supportContainer .supportContainerRight {
    width: 350px;
  }
  .supportContainerRight {
    right: 20px;
    top: 70px;
  }
  .supportContainer .supportContainerLeft h3,
.supportContainer .supportContainerRight h3 {
    padding-left: 20px;
  }
  .supportContainer .supportContainerLeft p,
.supportContainer .supportContainerRight p {
    padding-left: 20px;
  }
  .supportContainer .supportContainerLeft img,
.supportContainer .supportContainerRight img {
    margin-bottom: 10px;
  }
  .supportContainer .supportContainerRight p {
    width: 100%;
  }
  .support {
    margin-bottom: 0;
    padding-right: 20px;
  }
  .supportContainer .supportContainerLeft p {
    width: 80%;
  }
}
.footerBuilder {
  background: #DFE6FF;
  border-radius: 12px;
  padding: 25px 0 25px 61px;
}
.footerBuilder ul {
  display: flex;
  align-items: center;
}
.footerBuilder ul li {
  margin-right: 79px;
}
.footerBuilder ul li a {
  font-family: "Inter-Medium";
  font-size: 14px;
  line-height: 17px;
  color: #181717;
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */