.businessBox {
  padding-right: 0;
}
.businessBox .wrapperContainer {
  display: flex;
}
.businessBox .wrapperContainer .bunnerRightContainer .containerDesctop {
  height: 313px;
  position: relative;
}
.businessBox .wrapperContainer .bunnerRightContainer .containerDesctop p {
  display: none;
}
.businessBox .wrapperContainer .bunnerRightContainer .containerDesctop img {
  border: 5px solid #D9D9D9;
  border-radius: 20px;
}
.businessBox .wrapperContainer .bunnerRightContainer .containerDesctop::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 66px;
  height: 14px;
  background: #D9D9D9;
  border-radius: 2px;
}
.businessBox .wrapperContainer .bunnerRightContainer .containerMobile {
  bottom: 0vh;
  right: -6%;
}
.businessBox .wrapperContainer .bunnerRightContainer .containerMobile p {
  display: none;
}
.businessBox .wrapperContainer .bunnerRightContainer .containerMobile img {
  border: 5px solid #D9D9D9;
  border-radius: 10px;
  position: relative;
}
.businessBox .wrapperContainer .bunnerRightContainer .containerMobile::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 38px;
  height: 8px;
  background: #D9D9D9;
  border-radius: 2px;
}

.featureHomePage {
  padding: 82px 0;
  background: linear-gradient(0deg, #181717, #181717);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.featureHomePage .wrapperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 900px;
  z-index: 1;
}
.featureHomePage .wrapperContainer::after {
  content: "";
  background: url(../img/Frame6.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: -268px;
  width: 150%;
  height: 100%;
  z-index: 1;
}
.featureHomePage .wrapperContainer h2 {
  font-family: "Inter-ExtraBold";
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.featureHomePage::after {
  content: "";
  background: url(../img/mask.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.featureHomePageContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 100%;
  position: relative;
  z-index: 2;
}
.featureHomePageContainer .featureHomePageSection {
  width: 275px;
  height: 514px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #DFE6FF;
  box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  position: relative;
}
.featureHomePageContainer .featureHomePageSection:nth-of-type(2) {
  justify-content: flex-start;
}
.featureHomePageContainer .featureHomePageSection:nth-of-type(2) .top {
  background: #FFFFFF;
  box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  bottom: 0;
  top: auto;
}
.featureHomePageContainer .featureHomePageSection .bottom img {
  max-width: 100%;
  border-radius: 24px;
}
.featureHomePageContainer .featureHomePageSection .top {
  min-height: 317px;
  max-height: 317px;
  background: #DFE6FF;
  box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  padding: 0 20px 0 20px;
  z-index: 1;
}
.featureHomePageContainer .featureHomePageSection .top p {
  font-family: "Inter-ExtraBold";
  font-size: 20px;
  line-height: 24px;
  color: #1C50FE;
  margin-bottom: 5px;
}
.featureHomePageContainer .featureHomePageSection .top ul li {
  font-family: "Inter-Medium";
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 5px;
  list-style: inside;
  position: relative;
}
.featureHomePageContainer .featureHomePageSection .top ul li:before {
  content: "";
  min-width: 8px;
  min-height: 8px;
  background: #1C50FE;
  display: flex;
  border-radius: 50%;
  margin-right: 3px;
  margin-top: 3px;
  position: absolute;
  left: -2px;
  top: 2px;
}
.featureHomePageContainer .featureHomePageSection .top svg {
  position: absolute;
  right: 50px;
  top: 30px;
}

.afterOff {
  height: 100% !important;
}
.afterOff::after {
  content: none !important;
}

.startedOff {
  box-shadow: none;
}
.startedOff .startedLeft {
  padding-top: 163px;
  padding-bottom: 140px;
}
.startedOff .startedRight {
  right: 11% !important;
  left: auto !important;
}

.startedOff .startedLeft .designBestRight .designBestList {
  width: 85%;
}
.startedOff .startedLeft .designBestRight .designBestList li b {
  font-family: "Inter-ExtraBold";
  display: contents;
}
.startedOff .startedLeft .designBestRight .designBestList li::before {
  min-width: 24px;
}

@media (max-width: 768px) {
  .businessBox {
    margin-top: 100px;
  }
  .businessBox .wrapperContainer {
    min-width: 90%;
    flex-direction: column;
  }
  .businessBox .wrapperContainer .bunnerRightContainer {
    margin: 0 auto;
  }
  .businessBox .wrapperContainer .customizationRight {
    width: 100%;
    margin-top: 50px;
  }
  .featureHomePageContainer {
    padding-left: 16px;
    padding-right: 16px;
    min-width: 90%;
  }
  .featureHomePageContainer .featureHomePageSection {
    width: 32%;
  }
  .homeCustomization {
    margin-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
  }
  .homeCustomization .customizationLeft {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .homeCustomization .customizationRight {
    width: 80%;
    text-align: center;
  }
  .homeCustomization .customizationRight .customizationRightSection {
    width: 100%;
  }
  .startedOff .startedLeft .designBestRight h2 {
    text-align: left !important;
  }
}/*# sourceMappingURL=index.css.map */ flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.itHappenContainer .itHappenSection {
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.itHappenContainer .itHappenSection p {
  font-family: "Inter-Medium";
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #181717;
}
.itHappenContainer .itHappenSection svg {
  height: 100px;
}
.itHappenContainer .itHappenSection svg path {
  stroke: #1C50FE !important;
}
.itHappenContainer .itHappenSection svg circle {
  stroke: #1C50FE !important;
}/*# sourceMappingURL=index.css.map */;
  font-size: 55px;
  line-height: 65px;
  color: #1C50FE;
  text-align: center;
  margin-bottom: 84px;
}
.alsoLike::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 441px;
  left: 0;
  bottom: 0;
  background: #DFE6FF;
  z-index: -1;
}

.alsoLikeContainer {
  display: flex;
  align-items: flex-start;
  padding-bottom: 110px;
}
.alsoLikeContainer .alsoLikeSection {
  width: 333px;
  height: 422px;
  margin-right: 63px;
  background: #FFFFFF;
  box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
}
.alsoLikeContainer .alsoLikeSection img {
  max-width: 100%;
  border-radius: 24px;
  margin-bottom: 32px;
  min-width: 100%;
  -o-object-fit: none;
     object-fit: none;
}
.alsoLikeContainer .alsoLikeSection:nth-last-child(1) {
  margin-right: 0;
}
.alsoLikeContainer .alsoLikeSection h3 {
  font-family: "Inter-ExtraBold";
  font-size: 25px;
  line-height: 30px;
  color: #181717;
  margin-bottom: 20px;
  padding: 0 22px;
}
.alsoLikeContainer .alsoLikeSection p {
  font-family: "Inter-Regular";
  font-size: 20px;
  line-height: 30px;
  color: #181717;
  padding: 0 22px;
}

@media (max-width: 768px) {
  .alsoLikeContainer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .alsoLikeContainer .alsoLikeSection {
    width: 45%;
    margin-right: 32px;
  }
  .alsoLikeContainer .alsoLikeSection:nth-of-type(3) {
    margin-top: 16px;
  }
  .alsoLike::after {
    height: 700px;
  }
}/*# sourceMappingURL=index.css.map */;
  width: 450px;
}
.paymentLeft h2 {
  font-family: "Inter-ExtraBold";
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
}
.paymentLeft p {
  font-family: "Inter-Medium";
  font-size: 20px;
  line-height: 24px;
  color: #181717;
  margin-bottom: 40px;
}

.paymentLeftContainer h3 {
  font-family: "Inter-ExtraBold";
  font-size: 20px;
  line-height: 24px;
  color: #1C50FE;
}
.paymentLeftContainer p {
  font-family: "Inter-Medium";
  font-size: 15px;
  line-height: 18px;
  color: #181717;
  margin-bottom: 30px;
}
.paymentLeftContainer p:nth-last-child(1) {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .payment {
    margin-top: 50px;
    margin-bottom: 0;
  }
  .paymentRight {
    width: 300px !important;
    height: 350px !important;
    min-width: 300px;
    min-height: 350px;
    margin-left: 20px !important;
  }
  .paymentRight img {
    width: 80%;
    height: 80%;
  }
  .paymentLeft h2 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .paymentLeft p {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 18px;
  }
}
.support {
  padding: 74px 92px 74px 61px;
  margin-bottom: 100px;
}
.support h2 {
  font-family: "Inter-ExtraBold";
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #181717;
  margin-bottom: 32px;
}

.supportContainer {
  display: flex;
  position: relative;
}
.supportContainer .supportContainerLeft img,
.supportContainer .supportContainerRight img {
  max-width: 100%;
  margin-bottom: 24px;
}
.supportContainer .supportContainerLeft h3,
.supportContainer .supportContainerRight h3 {
  font-family: "Inter-ExtraBold";
  font-size: 20px;
  line-height: 24px;
  color: #1C50FE;
  padding-left: 50px;
}
.supportContainer .supportContainerLeft p,
.supportContainer .supportContainerRight p {
  font-family: "Inter-Medium";
  font-size: 15px;
  line-height: 18px;
  color: #181717;
  margin-bottom: 30px;
  padding-left: 50px;
  width: 50%;
}

.supportContainerRight {
  position: absolute;
  right: 0;
  top: 200px;
  z-index: -1;
}

@media (max-width: 768px) {
  .supportContainer .supportContainerLeft,
.supportContainer .supportContainerRight {
    width: 350px;
  }
  .supportContainerRight {
    right: 20px;
    top: 70px;
  }
  .supportContainer .supportContainerLeft h3,
.supportContainer .supportContainerRight h3 {
    padding-left: 20px;
  }
  .supportContainer .supportContainerLeft p,
.supportContainer .supportContainerRight p {
    padding-left: 20px;
  }
  .supportContainer .supportContainerLeft img,
.supportContainer .supportContainerRight img {
    margin-bottom: 10px;
  }
  .supportContainer .supportContainerRight p {
    width: 100%;
  }
  .support {
    margin-bottom: 0;
    padding-right: 20px;
  }
  .supportContainer .supportContainerLeft p {
    width: 80%;
  }
}
.footerBuilder {
  background: #DFE6FF;
  border-radius: 12px;
  padding: 25px 0 25px 61px;
}
.footerBuilder ul {
  display: flex;
  align-items: center;
}
.footerBuilder ul li {
  margin-right: 79px;
}
.footerBuilder ul li a {
  font-family: "Inter-Medium";
  font-size: 14px;
  line-height: 17px;
  color: #181717;
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */