.coursesBunner {
  padding: 291px 0 220px 0;
  background: url(../img/coursesBunner.png), #181717;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 0 0 20px 20px;
  position: relative;
}
.coursesBunner::after {
  content: "";
  background: url(../img/coursesFrame.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0 0 20px 20px;
  top: 0;
  left: 0;
}
.coursesBunner .wrapperContainer {
  display: flex;
  flex-direction: column;
}
.coursesBunner .wrapperContainer h1 {
  font-family: "Inter-ExtraBold";
  font-size: 46px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 49px;
  width: 60%;
}
.coursesBunner .wrapperContainer p {
  font-family: "Inter-Medium";
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  width: 40%;
}

.designBest {
  padding: 69px 0;
  position: relative;
}
.designBest .wrapperContainer {
  display: flex;
  align-items: center;
}
.designBest .wrapperContainer .designBestLeft {
  display: flex;
  width: 574px;
  height: 337px;
  margin-right: 74px;
  border-radius: 20px;
  position: relative;
  border: 5px solid #D9D9D9;
  background: #fff;
}
.designBest .wrapperContainer .designBestLeft img {
  min-width: 100%;
  min-height: 100%;
  border-radius: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.designBest .wrapperContainer .designBestLeft:after {
  content: "";
  position: absolute;
  width: 605px;
  height: 11px;
  display: flex;
  bottom: -7px;
  left: -35px;
  right: 15px;
  background: #D9D9D9;
  border-radius: 20px;
}
.designBest::after {
  content: "";
  background: url(../../img/designBestFrame.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.designBestRight {
  display: flex;
  flex-direction: column;
}
.designBestRight h2 {
  font-family: "Inter-ExtraBold";
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 50px;
}

.designBestList li {
  font-family: "Inter-Medium";
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 27px;
  color: #181717;
}
.designBestList li::before {
  content: "";
  background: url(../../img/designBestList.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: flex;
  margin-right: 16px;
}

@media (max-width: 768px) {
  .designBest .wrapperContainer {
    flex-direction: column;
  }
  .designBestLeft {
    margin-bottom: 20px;
  }
  .designBestRight h2 {
    text-align: center;
  }
  .designBest .wrapperContainer .designBestLeft:after {
    left: -17px;
  }
  .onlineCourseContainer h2 {
    width: 100% !important;
  }
  .monetizeWisely .paymentLeft {
    width: 300px !important;
  }
  .monetizeWisely .paymentRight {
    width: 375px !important;
  }
  .coursesBunner .wrapperContainer h1 {
    width: 70% !important;
  }
  .designBest::after {
    top: -100px !important;
  }
}
.onlineCourse {
  padding: 68px 0;
  box-sizing: border-box;
  background: #181717;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.onlineCourse .wrapperContainer {
  display: flex;
  flex-direction: column;
}
.onlineCourse::after {
  content: "";
  background: url(../img/CoursesFrame2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.onlineCourseContainer {
  position: relative;
  z-index: 2;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.onlineCourseContainer h2 {
  font-family: "Inter-ExtraBold";
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 60%;
  text-align: center;
  margin-bottom: 30px;
}
.onlineCourseContainer p {
  margin-top: 33px;
  font-family: "Inter-Regular";
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  width: 70%;
}
.onlineCourseContainer::after {
  content: "";
  background: url(../img/CoursesFrame3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 684px;
  height: 684px;
  z-index: -1;
}

.monetizeWisely {
  margin: 75px 0;
  justify-content: space-between;
}
.monetizeWisely .paymentRight {
  background: transparent;
}
.monetizeWisely .paymentRight img {
  max-width: 100%;
}
.monetizeWisely .paymentRight::after {
  content: none;
}
.monetizeWisely .paymentLeft {
  width: 350px;
}

.itHappen {
  margin: 74px 0;
}
.itHappen .wrapperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 82px;
}
.itHappen .wrapperContainer p:nth-of-type(2) {
  font-family: "Inter-Medium";
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #181717;
  margin-bottom: 9px;
}
.itHappen .wrapperContainer h2 {
  font-family: "Inter-ExtraBold";
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  color: #181717;
  margin-bottom: 28px;
}
.itHappen .wrapperContainer > p {
  font-family: "Inter-Regular";
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #181717;
  margin-bottom: 52px;
  width: 45%;
}

.itHappenContainer {
  height: 300px;
}/*# sourceMappingURL=index.css.map */nter .wrapperContainer .mainArticleCenterFlex img {
  width: 164px;
  height: 164px;
  margin-right: 18px;
}
.mainArticleCenter .wrapperContainer .mainArticleCenterFlex .mainContainer h3 {
  font-family: "Inter-ExtraBold";
  font-size: 20px;
  line-height: 24px;
  color: #181717;
  margin-bottom: 8px;
}
.mainArticleCenter .wrapperContainer .mainArticleCenterFlex .mainContainer p {
  font-family: "Inter-Regular";
  font-size: 20px;
  line-height: 24px;
  color: #181717;
}

@media (max-width: 768px) {
  .mainArticleCenter .wrapperContainer .mainArticleCenterFlex img {
    width: 100px;
    height: 100px;
  }
  .mainArticleCenter .wrapperContainer .mainArticleCenterFlex .mainContainer p {
    font-size: 14px;
    line-height: 16px;
  }
}
.alsoLike {
  position: relative;
}
.alsoLike .wrapperContainer h2 {
  font-family: "Inter-ExtraBold";
  font-size: 55px;
  line-height: 65px;
  color: #1C50FE;
  text-align: center;
  margin-bottom: 84px;
}
.alsoLike::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 441px;
  left: 0;
  bottom: 0;
  background: #DFE6FF;
  z-index: -1;
}

.alsoLikeContainer {
  display: flex;
  align-items: flex-start;
  padding-bottom: 110px;
}
.alsoLikeContainer .alsoLikeSection {
  width: 333px;
  height: 422px;
  margin-right: 63px;
  background: #FFFFFF;
  box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
}
.alsoLikeContainer .alsoLikeSection img {
  max-width: 100%;
  border-radius: 24px;
  margin-bottom: 32px;
  min-width: 100%;
  -o-object-fit: none;
     object-fit: none;
}
.alsoLikeContainer .alsoLikeSection:nth-last-child(1) {
  margin-right: 0;
}
.alsoLikeContainer .alsoLikeSection h3 {
  font-family: "Inter-ExtraBold";
  font-size: 25px;
  line-height: 30px;
  color: #181717;
  margin-bottom: 20px;
  padding: 0 22px;
}
.alsoLikeContainer .alsoLikeSection p {
  font-family: "Inter-Regular";
  font-size: 20px;
  line-height: 30px;
  color: #181717;
  padding: 0 22px;
}

@media (max-width: 768px) {
  .alsoLikeContainer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .alsoLikeContainer .alsoLikeSection {
    width: 45%;
    margin-right: 32px;
  }
  .alsoLikeContainer .alsoLikeSection:nth-of-type(3) {
    margin-top: 16px;
  }
  .alsoLike::after {
    height: 700px;
  }
}/*# sourceMappingURL=index.css.map */;
  width: 450px;
}
.paymentLeft h2 {
  font-family: "Inter-ExtraBold";
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
}
.paymentLeft p {
  font-family: "Inter-Medium";
  font-size: 20px;
  line-height: 24px;
  color: #181717;
  margin-bottom: 40px;
}

.paymentLeftContainer h3 {
  font-family: "Inter-ExtraBold";
  font-size: 20px;
  line-height: 24px;
  color: #1C50FE;
}
.paymentLeftContainer p {
  font-family: "Inter-Medium";
  font-size: 15px;
  line-height: 18px;
  color: #181717;
  margin-bottom: 30px;
}
.paymentLeftContainer p:nth-last-child(1) {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .payment {
    margin-top: 50px;
    margin-bottom: 0;
  }
  .paymentRight {
    width: 300px !important;
    height: 350px !important;
    min-width: 300px;
    min-height: 350px;
    margin-left: 20px !important;
  }
  .paymentRight img {
    width: 80%;
    height: 80%;
  }
  .paymentLeft h2 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .paymentLeft p {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 18px;
  }
}
.support {
  padding: 74px 92px 74px 61px;
  margin-bottom: 100px;
}
.support h2 {
  font-family: "Inter-ExtraBold";
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #181717;
  margin-bottom: 32px;
}

.supportContainer {
  display: flex;
  position: relative;
}
.supportContainer .supportContainerLeft img,
.supportContainer .supportContainerRight img {
  max-width: 100%;
  margin-bottom: 24px;
}
.supportContainer .supportContainerLeft h3,
.supportContainer .supportContainerRight h3 {
  font-family: "Inter-ExtraBold";
  font-size: 20px;
  line-height: 24px;
  color: #1C50FE;
  padding-left: 50px;
}
.supportContainer .supportContainerLeft p,
.supportContainer .supportContainerRight p {
  font-family: "Inter-Medium";
  font-size: 15px;
  line-height: 18px;
  color: #181717;
  margin-bottom: 30px;
  padding-left: 50px;
  width: 50%;
}

.supportContainerRight {
  position: absolute;
  right: 0;
  top: 200px;
  z-index: -1;
}

@media (max-width: 768px) {
  .supportContainer .supportContainerLeft,
.supportContainer .supportContainerRight {
    width: 350px;
  }
  .supportContainerRight {
    right: 20px;
    top: 70px;
  }
  .supportContainer .supportContainerLeft h3,
.supportContainer .supportContainerRight h3 {
    padding-left: 20px;
  }
  .supportContainer .supportContainerLeft p,
.supportContainer .supportContainerRight p {
    padding-left: 20px;
  }
  .supportContainer .supportContainerLeft img,
.supportContainer .supportContainerRight img {
    margin-bottom: 10px;
  }
  .supportContainer .supportContainerRight p {
    width: 100%;
  }
  .support {
    margin-bottom: 0;
    padding-right: 20px;
  }
  .supportContainer .supportContainerLeft p {
    width: 80%;
  }
}
.footerBuilder {
  background: #DFE6FF;
  border-radius: 12px;
  padding: 25px 0 25px 61px;
}
.footerBuilder ul {
  display: flex;
  align-items: center;
}
.footerBuilder ul li {
  margin-right: 79px;
}
.footerBuilder ul li a {
  font-family: "Inter-Medium";
  font-size: 14px;
  line-height: 17px;
  color: #181717;
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */