.bunner {
    padding: 205px 0 130px 0; 
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(24, 23, 23, 1) 42.47%, #1C50FE 100%);
    border-radius: 0 0 20px 20px;
    position: relative;
    .wrapperContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 2;
    }
    &::after {
      content: "";
      background: url(../img/Frame.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 157px;
      left: 0px;
      width: 100%;
      height: 80%;
      z-index: 1;
    }
}
h1 {
    font-family: "Inter-ExtraBold";
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.bunnerLeft {
    width: 100%;
    p {
        font-family: "Inter-Regular";
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }
}
.bunnerRight {
    width: 40%;
}
.bunnerRightContainer {
    position: relative;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    left: -100px;
   .containerDesctop {
    height: 100%;
    width: 433px;
    img {
        max-width: 100%;
        min-width: 100%;
        border-radius: 20px;
    }
    .live {
        position: absolute;
        top: 19px;
        left: 28px;
        background: #1C50FE;
        border: 2px solid #FFFFFF;
        border-radius: 18px;
        padding: 8px 10px;
        display: flex;
        align-items: center;
        font-family: "Inter-Medium";
        font-size: 10px;
        line-height: 12px;
        color: #FFFFFF;
        span {
            display: flex;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #FFFFFF;
            cursor: pointer;
            box-shadow: 0 0 0 rgba(255,255,255, 0.9);
            animation: pulse 2s infinite;
            margin-right: 10px;
        }
    }
    &::after {
        content: "";
        position: absolute;
        left: -5%;
        bottom: -5px;
        width: 467px;
        height: 10px;
        background: #FFFFFF;
        border-radius: 20px;
        display: flex;
    }
  }
}
@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.9);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
    }
}
@keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.9);
      box-shadow: 0 0 0 0 rgba(255,255,255, 0.9);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
        box-shadow: 0 0 0 10px rgba(255,255,255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
        box-shadow: 0 0 0 0 rgba(255,255,255, 0);
    }
}

.containerMobile {
    border-radius: 18px;
    position: absolute;
    bottom: -3vh;
    right: -2%;
    img {
        width:78px;
        height: 167px;
        border: 2px solid #FFFFFF;
        border-radius: 10px;
    }
    .live {
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translateX(-50%);
      background: #1C50FE;
      border: 1px solid #FFFFFF;
      border-radius: 8px;
      padding: 3px 4px;
      display: flex;
      align-items: center;
      font-family: "Inter-Medium";
      font-size: 5px;
      line-height: 6px;
      color: #FFFFFF;
      span {
          display: flex;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background: #FFFFFF;
          cursor: pointer;
          box-shadow: 0 0 0 rgba(255,255,255, 0.9);
          animation: pulse 2s infinite;
          margin-right: 5px;
      }
    }
}
@media (max-width: 768px) {
.bunner {
    padding: 150px 0 150px 0;
    .wrapperContainer {
      flex-direction: column;
      .bunnerLeft {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          width: 80%;
        }
      }
    }
}
h1 {
  width: 80%;
  text-align: center;
}
.bunnerRightContainer {
  top: 50px;
  left: 0;
  }
}
@media (max-width: 576px) {
  .containerMobile {
    bottom: -2vh;
    right: -4%;
    img {
      max-width: 100%;
      min-width: 100%;
    }
  }
  h1 {
    font-size: 40px;
  }
  .containerDesctop  {
    .live {
      font-size: 14px;
      padding: 10px;
      span {
        margin-right: 10px;
      }
    }
  }
}
