.features {
    h2 {
        font-family: "Inter-ExtraBold";
        font-size: 32px;
        line-height: 39px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 10px;
    }
}
.featuresContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 480px;
}
.featuresSection {
    .featuresBlockTop {
        p {
            &:nth-of-type(1) {
                font-family: "Inter-ExtraBold";
                font-size: 20px;
                line-height: 24px;
                color: #1C50FE;
            }
            &:nth-of-type(2) {
                font-family: "Inter-Medium";
                font-size: 15px;
                line-height: 18px;
                color:#181717;
            }
        }
    }
}
.featuresSection1 {
    display: flex;
    flex-direction: column;
    width: 24%;
    margin-right: 20px;
    min-height: 460px;
    height: 100%;
    .featuresBlockTop {
        padding: 14px 9px 14px 11px;
        background: #DFE6FF;
        box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.1);
        border-radius: 24px;
        margin-bottom: 17px;
        p {
            &:nth-of-type(1) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:after {
                    content: "";
                    background: url(../img/image1.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 43px;
                    height: 42px;
                }
            }
        }
    }
    .featuresBlockBottom {
        position: relative;
        img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 24px 24px 0 0;
        }
        .featuresBlockBottomText {
            padding: 20px 20px 3px 20px;
            background: #FFFFFF;
            box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.1);
            border-radius: 24px;
            position: absolute;
            bottom: -107px;
            left: 0;
            z-index: 1;
            p {
                &:nth-of-type(1) {
                    font-family: "Inter-ExtraBold";
                    font-size: 20px;
                    line-height: 24px;
                    color: #1C50FE;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &::after {
                        content: "";
                        background: url(../img/image2.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 50px;
                        height: 50px;
                    }
                }
                &:nth-of-type(2) {
                    font-family: "Inter-Medium";
                    font-size: 15px;
                    line-height: 18px;
                    color:#181717;
                }
            }
        }
    }
}
.featuresSection2 {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    width: 24%;
    margin-right: 20px;
    min-height: 460px;
    height: 100%;
    .featuresBlockBottom {
        position: relative;
        margin-bottom: 17px;
        img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 24px 24px 0 0;
        }
        .featuresBlockBottomText {
            padding: 11px 16px;
            background: #FFFFFF;
            box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.1);
            border-radius: 24px;
            position: absolute;
            bottom: -70px;
            left: 0;
            z-index: 1;
            p {
                &:nth-of-type(1) {
                    font-family: "Inter-ExtraBold";
                    font-size: 20px;
                    line-height: 24px;
                    color: #1C50FE;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &::after {
                        content: "";
                        background: url(../img/image3.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 40px;
                        height: 41px;
                    } 
                }
                &:nth-of-type(2) {
                    font-family: "Inter-Medium";
                    font-size: 15px;
                    line-height: 18px;
                    color:#181717;
                }
            }
        }
    }
     .featuresBlockTop {
        padding: 14px 9px 14px 11px;
        background: #DFE6FF;
        box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.1);
        border-radius: 24px;
        p {
            &:nth-of-type(1) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                    &::after {
                        content: "";
                        background: url(../img/image4.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 33px;
                        height: 32px;
                } 
            }
        }
    }
}
.featuresSection3 {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    width: 24%;
    margin-right: 20px;
    min-height: 460px;
    height: 100%;
    .featuresBlockTop {
        &:nth-of-type(1) {
            padding: 66px 7px 36px 13px;
            background: #DFE6FF;
            box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.1);
            border-radius: 24px;
            p {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 5px;
                &:nth-of-type(1) {
                    &::after {
                        content: "";
                        background: url(../img/image5.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 39px;
                        height: 39px;
                    } 
                }
            }
        }
        &:nth-of-type(2) {
            padding: 69px 5px 70px 15px;
            background: #FFFFFF;
            box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.1);
            border-radius: 24px;
            p {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 5px;
                &:nth-of-type(1) {
                    &::after {
                        content: "";
                        background: url(../img/image6.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 40px;
                        height: 41px;
                    } 
                }
            }
        }
    }
}
.featuresSection4 {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    width: 24%;
    margin-right: 20px;
    min-height: 460px;
    height: 100%;
     .featuresBlockBottom {
        position: relative;
        min-height: 460px;
        margin-bottom: 17px;
        img {
            min-height: 360px;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 24px 24px 0 0;
        }
        .featuresBlockBottomText {
            padding: 53px 23px 50px 30px;
            background: #FFFFFF;
            box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.1);
            border-radius: 24px;
            position: absolute;
            bottom: -20px;
            left: 0;
            z-index: 1;
            p {
                &:nth-of-type(1) {
                    font-family: "Inter-ExtraBold";
                    font-size: 20px;
                    line-height: 24px;
                    color: #1C50FE;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &::after {
                        content: "";
                        background: url(../img/image7.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 38px;
                        height: 38px;
                    } 
                }
                &:nth-of-type(2) {
                    font-family: "Inter-Medium";
                    font-size: 15px;
                    line-height: 18px;
                    color:#181717;
                }
            }
        }
    }
}
@media (max-width: 768px) {
.featuresContainer {
    flex-wrap: wrap;
    height: 100%;
    .featuresSection {
        width: 45%;
    }
.featuresSection1 {
    .featuresBlockBottom {
        .featuresBlockBottomText {
            bottom: -30px;
        }
    }
}
.featuresSection2  {
    .featuresBlockBottom {
        .featuresBlockBottomText {
            bottom: 0;
        }
        img {
            border-radius: 24px;
        }
    }
}
.featuresSection2  {
    min-height: 420px;
}
.featuresSection4  {
    .featuresBlockBottom  {
        .featuresBlockBottomText {
            bottom: 0px;
        }
    }
}
}
}
