.started {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
    border-radius: 20px;
    box-shadow: -1px 3px 36px -8px rgba(0, 0, 0, 0.3);
    position: relative;
}
.startedLeft {
    display: flex;
    flex-direction: column;
    padding: 209px 0 177px 93px;
    width: 50%;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    h2 {
        font-family: "Inter-ExtraBold";
        font-size: 32px;
        line-height: 39px;
        text-transform: uppercase;
        color: #1C50FE;
        margin-bottom: 20px;
    }
    p {
        font-size: 20px;
        line-height: 24px;
        color: #181717;
        font-family: "Inter-Regular";
        margin-bottom: 20px;
    }
    button {
        font-size: 20px;
        line-height: 24px;        
        color: #FFFFFF;
        padding: 20px 23px;
        background: #1C50FE;
        border-radius: 18px;
        border: none;
        width: max-content;
    }
}
.startedRight {
    width: 50%;
    min-height: 100%;
    position: relative;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    img {
        
        object-fit: cover;
        object-position: center;
    }

}
@media (max-width: 768px) {
.startedLeft {
    padding: 100px 0 100px 30px;
    width: 100%;
}
.startedRight {
    left: -50%;
    opacity: 0.5;
}
}
@media (max-width: 576px) {
    .startedLeft {
        padding: 100px 16px;
    }
    .startedLeft h2 {
        font-size: 30px;
        line-height: 35px;
    }
    .startedLeft p {
        font-size: 16px;
        line-height: 18px;
    }
    .startedBtn {
        padding: 16px !important;
        font-size: 25px !important;
        line-height: 30px !important;
    }
}