.started {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
    border-radius: 60px;
    box-shadow: -1px 3px 36px -8px rgba(0, 0, 0, 0.3);
    height: 700px;
}
.startedLeft {
    display: flex;
    flex-direction: column;
    padding: 150px 0 0 115px;
    width: 50%;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    h2 {
        font-family: "Inter-ExtraBold";
        font-size: 75px;
        line-height: 91px;
        text-transform: uppercase;
        color: #1C50FE;
        margin-bottom: 20px;
    }
    p {
        font-size: 36px;
        line-height: 44px;
        color: #181717;
        font-family: "Inter-Regular";
        margin-bottom: 20px;
    }
    button {
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
        padding: 21px 28px;
        background: #1C50FE;
        border-radius: 18px;
        border: none;
        width: max-content;
    }
}
.startedRight {
    width: 50%;
    min-height: 100%;
    position: relative;
    img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}
// @media (max-width: 1500px) {
// .startedRight {
//     img {
//         left: -150%;
//     }
// }
// .startedLeft {
//     width: 75%;
// }
// }
// @media (max-width: 1400px) {
//     .started {
//         height: 563px;
//     }
//     .startedLeft h2 {
//         font-size: 32px !important;
//         line-height: 39px !important;
//     }
//     .startedLeft p {
//         font-size: 20px;
//         line-height: 24px;
//     }
//     .startedLeft button {
//         font-size: 20px;
//         line-height: 24px;
//         padding: 12px 23px;
//     }
//     .startedRight img {
//         left: -100%;
//     }
// }
// @media (max-width: 992px) {
//     .startedLeft {
//         padding: 100px 50px 100px 50px;
//         background: url(../img/startedBacground.png);
//         background-size: cover;
//         background-position: center;
//         background-repeat: no-repeat;
//         width: 100%;
//     }
//     .startedRight {
//        display: none;
//     }
//     .started {
//         height: auto;
//     }
// } 
// @media (max-width: 576px) {
//     .startedLeft {
//         padding: 50px 16px;
//     }
//     .startedLeft h2 {
//         font-size: 30px;
//         line-height: 35px;
//     }
//     .startedLeft p {
//         font-size: 16px;
//         line-height: 18px;
//     }
//     .startedBtn {
//         padding: 16px !important;
//         font-size: 25px !important;
//         line-height: 30px !important;
//     }
// }