.bunnerArticle {
    background: #1C50FE;
    padding-top: 128px;
    padding-bottom: 52px;
    .wrapperContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-family: "Inter-ExtraBold";
            font-size: 55px;
            line-height: 99%;
            text-align: center;
            text-transform: uppercase;
            color: #DFE6FF;
            margin-bottom: 50px;
            width: 50%;
        }
        .bunnerArticleBtn {
            display: flex;
            align-items: center;
            button {
                font-family: "Inter-Medium";
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
                border: 2px solid #FFFFFF;
                border-radius: 12px;
                padding: 12px 26px;
                margin-right: 18px;
                background: transparent;
                &:nth-last-child(1) {
                    margin-right: 0;
                }
                &:hover {
                    background: #181717;
                    border: 2px solid #181717;
                }
            }
        }
    }
}