.bodyActive {
    overflow: hidden;
}
.wrapper {
    width: 1240px;
    height: 1240px;
    position: relative;
    @media(max-width: 768px) {
        width: 768px;
        height: 768px;
        .wrapperContainer {
            max-width: 90%;
            margin: 0 auto;
        }   
    }
}
.wrapperContainer {
    max-width: 1050px;
    margin: 0 auto;
}
header {
    button {
        &:hover {
            box-shadow: none !important;
        }
    }
}
.style {
    display: flex;
    li {
        margin-left: 5px;
        background: black;
       a {
        color: #fff;
        text-decoration: none;
       }
    }
}