.footer {
    padding: 25px 0;
    width: 100%;
    background: #DFE6FF;
    border-radius: 24px;
    box-sizing: border-box;
    ul {
        display: flex;
        align-items: center;
        li {
            margin-right: 79px;
            a {
                font-family: "Inter-Medium";
                font-size: 14px;
                line-height: 17px;
                color: #181717;
                text-decoration: none;
            }
        }
    }
}
@media (max-width: 768px) {
.footer {
    ul {
        li {
            margin-right: 30px;
        }
    }
}
}
@media (max-width: 576px) {
    .footer {
        padding: 16px;
    }
}
@media (max-width: 400px) {
    .footer {
        ul {
            li {
                margin-right: 10px;
            }
        }
    }
}