.blogBunner {
    background: #1C50FE;
    padding-top: 140px;
    padding-bottom: 75px;
    .wrapperContainer {
        display: flex;
        flex-direction: column;
        .blogBunnerTop {
            display: flex;
            .blogBunnerTittle {
                width: 49%;
                margin-right: 27px;
                display: flex;
                flex-direction: column;
            }
            > img {
                width: 49%;
                max-width: 100%;
            }
        }
    }
}
.blogBunnerTittle {
    display: flex;
    flex-direction: column;
    h1 {
        font-family: "Inter-ExtraBold";
        font-size: 55px;
        line-height: 99%;
        text-transform: uppercase;
        color: #DFE6FF;
    }
    p {
        font-family: "Inter-Regular";
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 22px;
    }
    .blogBunnerTittleContainer {
        display: flex;
        align-items: center;
        p {
            font-family: "Inter-Medium";
            font-size: 15px;
            line-height: 18px;
            color: #FFFFFF;
            margin-bottom: 0;
            &:nth-of-type(2) {
                margin-left: auto;
            }
        }
    }
}
.chat {
    border: none;
    background: transparent;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-left: 10px;
    &::before {
        content: "";
        background: url(../img/chat.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 19px;
        height: 19px;
        display: flex;
        margin-right: 5px;
    }
}
.blogBunnerBottom {
    display: flex;
    align-items: center;
    margin-top: 57px;
    p {
        font-family: "Inter-Medium";
        font-size: 20px;
        line-height: 24px;
        color: #DFE6FF;
        margin-right: 150px;
        padding: 10px 0 10px 10px;
        border-left: 2px solid #DFE6FF;
        width: 5%;
    }
}
.blogBunnerBottomContainerBtn {
    button {
        font-family: "Inter-Medium";
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
        border-radius: 12px;
        padding: 12px 26px;
        margin-right: 18px;
        background: transparent;
        &:nth-last-child(1) {
            margin-right: 0;
        }
        &:hover {
            background: #181717;
            border: 2px solid #181717;
        }
    }
}
@media (max-width: 768px) {
.blogBunner {
    padding: 150px 0 150px 0;
    .wrapperContainer {
        .blogBunnerTop {
            flex-direction: column;
            .blogBunnerTittle {
                width: 100%;
                margin-right: 0;
                align-items: center;
                .blogBunnerTittleContainer {
                    width: 100%;
                    align-items: flex-start;
                }
            }
            img {
                margin-top: 30px;
                width: 100%;
                max-width: 100%;
            }
        }
    }
}
h1 {
    font-size: 40px;
    line-height: 45px;
}
.blogBunnerBottom {
    flex-direction: column;
    align-items: flex-start;
    p {
        width: 100%;
    }
}
.blogBunnerBottomContainerBtn {
    margin-top: 30px;
    button {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
}