.blogForm {
    background: #DFE6FF;
    padding: 75px 0;
    margin-top: 70px;
    .wrapperContainer {
        max-width: 666px;
        margin: 0 auto 0 auto;
        h2 {
            font-family: "Inter-ExtraBold";
            font-size: 61px;
            line-height: 99%;
            text-align: center;
            text-transform: uppercase;
            color: #181717;
            margin-bottom: 40px;
        }
    }
}
.blogForm {
    .wrapperContainer {
        form {
            width: 100%;
            display: flex;
            position: relative;
            input {
                background: #F3F3F1;
                border-radius: 12px;
                height: 52px;
                font-size: 20px;
                line-height: 24px;
                color: #B5B0B0;
                padding-left: 28px;
                border: none;
                width: 100%;
                &:nth-of-type(2) {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: #1C50FE;
                    border-radius: 12px;
                    width: 210px;
                    font-size: 20px;
                    line-height: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #F5F2E1;
                    padding-left: 0;
                }
                &::placeholder {
                    font-size: 20px;
                    line-height: 24px;
                    color: #B5B0B0;
                }
            }
        }
    }
}