.technology {
    margin-top: 75px;
    .wrapperContainer {
        display: flex;
        flex-direction: column;
    }
}
.tourism {
    margin-top: 140px;
}
.technologyTittleContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    h2 {
        font-family: "Inter-ExtraBold";
        font-size: 61px;
        line-height: 99%;
        text-transform: uppercase;
        color: #1C50FE;
    }
    button {
        font-family: "Inter-Medium";
        font-size: 20px;
        line-height: 24px;
        color: #181717;
        background: transparent;
        border: none;
        display: flex;
        align-items: center;
        svg {
            margin-left: 5px;
        }
    }
}
.technologyContant {
    margin-top: 40px;
    display: flex;
}
.technologyConatiner {
    width: 349px;
    margin-right: 43px;
    &:nth-last-child(1) {
        margin-right: 0;
    }
    img {
        max-width: 100%;
        margin-bottom: 30px;
    }
    h3 {
        font-family: "Inter-ExtraBold";
        font-size: 25px;
        line-height: 30px;
        color: #181717;
        margin-bottom: 20px;
    }
    p {
        font-family: "Inter-Regular";
        font-size: 20px;
        line-height: 24px;
        color: #181717;
    }
}
.technologyConatinerText {
    margin-top: 30px;
    p {
        font-family: "Inter-Medium";
        font-size: 15px;
        line-height: 18px;
        color: #181717;
        margin-bottom: 10px;
    }
    .chat {
        color: #181717;
        margin-left: 0;
    }
}
@media (max-width: 768px) {
.technologyTittleContainer  {
    h2 {
        font-size: 40px;
    }
}
.technologyContant {
    flex-wrap: wrap;
    justify-content: space-between;
}
.technologyConatiner {
    width: 48%;
    margin-right: 0;
    margin-bottom: 30px;
}
}